body {
    /* background-color: aqua; */
}



#stick-figure-container {
    /* background-color: aquamarine; */
    height: 175px;
    width: 100px;
    background-image: url('images/stick-figure.png');
    background-size: contain;
    background-repeat: no-repeat;


}