body {
    /* background-color: aqua; */
}



#stick-figure-container {
    position: relative;
    height: 175px;
    width: 100px;
    background-image: url('images/stick-figure.png');
    background-size: contain;
    background-repeat: no-repeat;
}



#task-log {
    padding-right: 50px
}

#reward-list {
    vertical-align: top;
}

h3 {
    display: inline-block
}