body {
    /* background-color: aqua; */
}



#stick-figure-container {
    position: relative;
    height: 175px;
    width: 100px;
    background-image: url('images/stick-figure.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 30px;
    
}



#task-log {
    width: 435px;
    vertical-align: top;
    padding-left: 20px;
}

#reward-list {
    vertical-align: top;
}

h3 {
    display: inline-block
}

#button-container {
    padding-right: 50px;
}

.task-button {
    width: 250px;
    border-radius: 6px;
    background-color: #008CBA;
    color: white;
    font-weight: bold;
    margin: 1px;
    
}

.task-button:hover{
    background-color: #4CAF50;
    transition-duration: 0.4s

}

#percentage-box {
    vertical-align: top;
    padding-left: 20px;
}

.percentage {
    padding-top: 4px;
    padding-bottom: 5px;
}

#game-row {
    border: 5px solid;
    border-radius: 6px;
    margin: 10px;
}
